
body{
    margin: 0px;
    padding: 0px;
    background-color: #dff9fb;
}
nav{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0px;
    padding: 0px;
    background-color:#bdc3c7;
}

.logo{
    margin: 5px;
    justify-content:end;
    
    font-size: 30px;
}

.menu ul{
    padding-inline-end: 0px;
    padding: 0px;
    justify-content: end;
    padding-right: 0px;  
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3,25%);
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #2c3e50;
    
}
.menu a:hover{
    background-color: #2c3e50;
    color: white;
    border: 1px solid #2c3e50;
    border-radius: 5px;
}


.main-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 31rem;
    justify-content: space-evenly;
    align-items:center;
    
}
.main{
    margin: 15px;
    justify-content: center;
    align-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.aside{
    height: 100%;
    background-color: #7ed6df;
   
    justify-items: center;
    align-items:center;
    
}

.aside ul{
   
    margin-top: 30%;
    padding-left: 50%;
    list-style: none;
    justify-content: end;
    align-items:center;
    
}


.sponsors{
    background-color:#c7ecee ;
    display: grid;
    grid-template-columns: repeat(4,25%);
    height: 150px;
}


.spons-1 {
    background-color: #95afc0;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.spons-1 p{
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.spons-2 {
    background-color: #95afc0;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.spons-2 p{
    
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.spons-3 {
    background-color: #95afc0;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.spons-3 p{
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.spons-4 {
    background-color: #95afc0;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.spons-4 p{
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.footer{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #bdc3c7;
}


.footer ul{
    
    display: grid;
    grid-template-columns: repeat(3,25%);
    list-style: none;
    
    justify-content: end;
    align-items: center;
}
.footer li{
    
    
    justify-content: end;
}
.footer ul li:hover {
    cursor: pointer;
    background-color: #2c3e50;
    color: white;
    border: 1px solid #2c3e50;
    border-radius: 5px;
}

.name{
    justify-content: end;
    align-items: center;
    margin-top: 2%;
}